aclocal.m4
autom4te.cache
boot*
compile
config.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
.deps
*.diff
directfb-config
directfb-internal.pc
DirectFB.kdevelop
DirectFB.kdevelop.pcs
DirectFB.kdevses
directfb.pc
directfb.spec
*.vpj
*.vtg
*.vpw
*.vpwhistu
Doxyfile
gmon.out
INSTALL
inst
install-sh
*.la
.libs
libtool
*.lo*
ltconfig
ltmain.sh
makedirectfb.sh
Makefile
Makefile.in
missing
mkinstalldirs
*.nm
*.o
*.patch
stamp-h
stamp-h1
stamp-h.in
*.orig
*.rej
.env
.env.last
build-android/freetype2-android.tar.gz
build-android/freetype2-android/
examples/core/
examples/fusiondale/ce_tune
examples/fusiondale/ce_tune_flux
examples/fusiondale/ce_tuner
examples/fusiondale/ce_tuner_flux
examples/fusiondale/ce_tuning_monitor
examples/fusiondale/coma_test
examples/fusiondale/data_test
examples/fusiondale/fd_client
examples/fusiondale/fd_proxy
examples/fusiondale/fd_simple
examples/fusiondale/fdmaster
examples/fusiondale/t2_receiver
examples/fusiondale/t2_sender
examples/fusionsound/fs_advanced
examples/fusionsound/fs_simple
examples/fusionsound/meter
tests/dfbtest_layers
tests/dfbtest_window_update
tests/dfbtest_window_update2

