aclocal.m4
autom4te.cache
boot*
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps
*.diff
directfb-config
directfb-internal.pc
DirectFB.kdevelop
DirectFB.kdevelop.pcs
DirectFB.kdevses
directfb.pc
directfb.spec
DirectFB.vpj
DirectFB.vpw
DirectFB.vtg
Doxyfile
gmon.out
INSTALL
install-sh
*.la
.libs
libtool
*.lo*
ltconfig
ltmain.sh
makedirectfb.sh
Makefile
Makefile.in
missing
mkinstalldirs
*.nm
*.o
stamp-h
stamp-h1
stamp-h.in
