Source: directfb
Priority: optional
Maintainer: Andreas Shimokawa <andi@directfb.org>
Uploaders: Andreas Shimokawa <andi@directfb.org>, Denis Oliver Kropp <dok@directfb.org>
Build-Depends: debhelper (>= 7.4.15), autoconf, automake,
 libtool, pkg-config, libfreetype6-dev, libjpeg-dev, libpng12-dev,
 libmng-dev, libimlib2-dev, libjasper-dev, 
 libts-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
 zlib1g-dev, x11proto-core-dev, libx11-dev, libxext-dev,
 libsysfs-dev [alpha amd64 arm armel avr32 hppa i386 ia64 m68k mips mipsel powerpc ppc64 s390 sh4],
 libvncserver-dev,
 linux-fusion-dkms [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386]
Standards-Version: 3.9.0
Section: libs
Homepage: http://www.directfb.org/

Package: libdirectfb-1.7
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, linux-fusion-dkms,
 libdirectfb-1.7-wm, libdirectfb-1.7-system
Recommends: libdirectfb-1.7-imageprovider-gif, libdirectfb-1.7-imageprovider-png,
 libdirectfb-1.7-imageprovider-jpeg, libdirectfb-1.7-fontprovider-dgiff,
 libdirectfb-1.7-fontprovider-ft2, libdirectfb-1.7-wm-default
Description: DirectFB - shared libraries
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.

Package: libdirectfb-1.7-bin
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Replaces: libdirectfb-bin
Conflicts: libdirectfb-bin
Provides: libdirectfb-bin
Description: DirectFB - binaries
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the DirectFB background configuration tool
 and the directfbrc man page.

Package: libdirectfb-1.7-system-fbdev
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Replaces: libdirectfb-system-fbdev
Conflicts: libdirectfb-system-fbdev
Provides: libdirectfb-1.7-system
Description: DirectFB - fbdev system module
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the FBDEV system module.

Package: libdirectfb-1.7-system-vnc
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Provides: libdirectfb-1.7-system
Description: DirectFB - vnc system module
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the VNC system module.

Package: libdirectfb-1.7-system-x11
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Replaces: libdirectfb-system-x11
Conflicts: libdirectfb-system-x11
Provides: libdirectfb-1.7-system
Description: DirectFB - x11 system module
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the X11 system module.

Package: libdirectfb-1.7-system-x11vdpau
Architecture: i386 amd64
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Replaces: libdirectfb-system-x11vdpau
Conflicts: libdirectfb-system-x11vdpau
Provides: libdirectfb-1.7-system
Description: DirectFB - x11vdpau system module
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the X11VDPAU system module.

Package: libdirectfb-1.7-system-x11vdpau-dev
Architecture: i386 amd64
Depends: libdirectfb-1.7-dev (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Replaces: libdirectfb-system-x11vdpau-dev
Conflicts: libdirectfb-system-x11vdpau-dev
Provides: libdirectfb-1.7-system-dev
Description: DirectFB - x11vdpau system module
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the X11VDPAU system module development files.

Package: libdirectfb-1.7-system-devmem
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Replaces: libdirectfb-system-devmem
Conflicts: libdirectfb-system-devmem
Provides: libdirectfb-1.7-system
Description: DirectFB - devmem system module
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the DEVMEM system module.

Package: libdirectfb-1.7-imageprovider-png
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Replaces: libdirectfb-imageprovider-png
Conflicts: libdirectfb-imageprovider-png
Description: DirectFB - png image provider
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the PNG image provider

Package: libdirectfb-1.7-imageprovider-jpeg
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Replaces: libdirectfb-imageprovider-jpeg
Conflicts: libdirectfb-imageprovider-jpeg
Description: DirectFB - jpeg image provider
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the JPEG image provider

Package: libdirectfb-1.7-imageprovider-gif
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Replaces: libdirectfb-imageprovider-gif
Conflicts: libdirectfb-imageprovider-gif
Description: DirectFB - gif image provider
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the GIF image provider

Package: libdirectfb-1.7-imageprovider-dfiff
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Replaces: libdirectfb-imageprovider-dfiff
Conflicts: libdirectfb-imageprovider-dfiff
Description: DirectFB - dfiff image provider
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the DFIFF image provider

Package: libdirectfb-1.7-imageprovider-bmp
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: DirectFB - bmp image provider
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the BMP image provider

Package: libdirectfb-1.7-imageprovider-jpeg2000
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: DirectFB - jpeg2000 image provider
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the JPEG2000 image provider

Package: libdirectfb-1.7-imageprovider-imlib2
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: DirectFB - imlib2 image provider
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the IMLIB2 image provider

Package: libdirectfb-1.7-imageprovider-pnm
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: DirectFB - pnm image provider
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the PNM image provider

Package: libdirectfb-1.7-imageprovider-mpeg2
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: DirectFB - mpeg2 image provider
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the MPEG2 image provider

Package: libdirectfb-1.7-videoprovider-gif
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Replaces: libdirectfb-videoprovider-gif
Conflicts: libdirectfb-videoprovider-gif
Description: DirectFB - gif video provider
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the GIF video provider

Package: libdirectfb-1.7-videoprovider-mng
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: DirectFB - mng video provider
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the MNG video provider

Package: libdirectfb-1.7-videoprovider-v4l
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Replaces: libdirectfb-videoprovider-v4l
Conflicts: libdirectfb-videoprovider-v4l
Description: DirectFB - v4l video provider
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the V4L video provider

Package: libdirectfb-1.7-fontprovider-ft2
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Replaces: libdirectfb-fontprovider-ft2
Conflicts: libdirectfb-fontprovider-ft2
Description: DirectFB - freetype2 font provider
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the FREETYPE2 font provider

Package: libdirectfb-1.7-fontprovider-dgiff
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Replaces: libdirectfb-fontprovider-dgiff
Conflicts: libdirectfb-fontprovider-dgiff
Description: DirectFB - dgiff font provider
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the DGIFF font provider

Package: libdirectfb-1.7-wm-default
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Provides: libdirectfb-1.7-wm
Description: DirectFB - default window manager
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the default window manager for DirectFB

Package: libdirectfb-1.7-dev
Section: libdevel
Architecture: any
Depends: libdirectfb-1.7 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends},
 libfreetype6-dev, libjpeg-dev, libpng12-dev,
 zlib1g-dev (>= 1:1.1.3), x11proto-core-dev, libx11-dev, libxext-dev,
 libsysfs-dev
Replaces: libdirectfb-dev
Conflicts: libdirectfb-dev
Provides: libdirectfb-dev
Description: DirectFB graphics library - development files
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the files needed to compile and link programs
 which use DirectFB.

Package: libdirectfb-1.7-wm-sawman
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libdirectfb-1.7-wm
Description: DirectFB - sawman window mananger module
 DirectFB is a graphics library which was designed with embedded systems
 in mind. It offers maximum hardware accelerated performance at a minimum
 of resource usage and overhead.
 .
 This package contains the sawman window manager module

Package: libsawman-1.7
Architecture: any
Depends: libdirectfb-1.7,
 ${shlibs:Depends}, ${misc:Depends}
Description: SaWMan - DirectFB Shared application and Window Manager (shared library)
 SaWMan is a new window manager module for use with DirectFB. Its main
 difference to the default module is that it allows one process to be an
 application and window manager, implementing all kinds of diversity, while
 SaWMan is only the working horse.

Package: libsawman-1.7-dev
Architecture: any
Depends: libsawman-1.7
 ${shlibs:Depends}, ${misc:Depends}
Provides: libsawman-dev
Conflicts: libsawman-dev
Description: SaWMan - DirectFB Shared application and Window Manager (development package)
 SaWMan is a new window manager module for use with DirectFB. Its main
 difference to the default module is that it allows one process to be an
 application and window manager, implementing all kinds of diversity, while
 SaWMan is only the working horse.

Package: sawman-bin-1.7
Architecture: any
Depends: libsawman-1.7,
 ${shlibs:Depends}, ${misc:Depends}
Provides: sawman-spooky
Conflicts: sawman-spooky
Description: SaWMan - DirectFB Shared application and Window Manager (examples and tools)
 SaWMan is a new window manager module for use with DirectFB. Its main
 difference to the default module is that it allows one process to be an
 application and window manager, implementing all kinds of diversity, while
 SaWMan is only the working horse.
 .
 This package contains testman, testrun and swmdump

