<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.df_window"
        android:versionCode="1"
        android:versionName="1.0">
  <uses-permission
          android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Require Android 2.3.3 -->
    <uses-sdk android:minSdkVersion="10" />

    <application android:label="@string/app_name" android:hasCode="true"
         android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
         android:icon="@drawable/icon">

        <!-- Our activity is the built-in NativeActivity framework class.
             This will take care of integrating with our NDK code. -->
        <activity android:name="android.app.NativeActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape" 
                android:configChanges="keyboardHidden">
            <!-- Tell NativeActivity the name of or .so -->
            <meta-data android:name="android.app.lib_name"
                    android:value="directfb" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest> 
<!-- END_INCLUDE(manifest) -->
